@theme {
  --color-primary-fixed-dim: #a1a1aa;
  --color-secondary: #a1a1aa;
  --color-secondary-fixed-dim: #a1a1aa;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #888888;
  --color-primary: #ffffff;
  --color-primary-fixed: #ffffff;
  
  --spacing-stack-md: 80px;
  --spacing-gutter: 24px;
  --spacing-stack-sm: 40px;
  --spacing-stack-xl: 160px;
  --spacing-margin-edge: 5vw;
}

:root {
  --background: #050505;
  --foreground: #e5e2e1;
}
